NODE_ENV=production
PORT=3000
APP_URL=http://localhost:3000
AUTH_SECRET=
DATABASE_URL=file:./prisma/dev.db
MEDIA_ROOT_DIR=./storage/media
MAX_UPLOAD_BYTES=5242880
GOOGLE_CLIENT_ID=
ADMIN_ALLOWED_EMAILS=
EDITOR_ALLOWED_EMAILS=
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID_BLOG=
MAILERLITE_GROUP_ID_WHIPTHEDOGS=
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
CI_REPO_PATH=
